body{
font-family: 'Inconsolata', monospace;
background-color:#f0f0f0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
}

.kotak-input{
display:block;
resize:none;
margin:10px auto;
}

p span{
color:coral;
font-weight:bold;
}

button{
margin:5px;
padding:6px 10px;
cursor:pointer;
}